.ShareMain {
  height: 160px;
  width: 100%;
  box-shadow: var(--boxShadow);
}

.ShareWrap {
  padding: 10px;
}

.ShareTop {
  display: flex;
  align-items: center;
}

.ShareImgProfile {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.ShareInputBox {
  font-size: 17px;
  width: 90%;
}

.ShareBottomLine {
  margin-block: 10px;
  border: 1px solid #cdc8c8;
}

.ShareBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ShareOptions {
  display: flex;
  margin-left: 10px;
}

.ShareOptionContent {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-right: 10px;
}

.ShareIcon {
  font-size: 17px;
  margin-right: 5px;
}

.ShareOptText {
  font-weight: 800;
}

.Btn {
  width: max-content;
  background: var(--main);
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px;
  font-weight: 700;
  cursor: pointer;
}
