@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap");

:root {
  --main: #002aff;
  --boxShadow: 10px 10px 10px -10px rgba(152, 148, 148, 0.3),
    inset 10px 10px 10px -10px rgba(108, 105, 105, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  transition: 0.2s ease-in;
}

*::selection {
  background: var(--main);
  color: #000;
}

body {
  font-family: "Kanit", sans-serif;
  list-style: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
}

::-webkit-scrollbar-track {
  background: #000;
}
